<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default "en-us" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  {{ $styles := resources.Get "css/styles.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
</head>
<body>

  <main class="main-container">
    {{ block "main" . }}{{ end }}
  </main>

</body>
</html>
